<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <a href={{ path('app_article_showallarticles') }}>Domů</a> |
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <a href={{ path('app_article_createnewarticle') }}>Nový</a> |
        <a href="{{ path('app_logout') }}">Odhlásit se</a>
        {% else %}
        <a href="{{ path('app_login') }}">Přihlásit se</a>
        {% endif %}
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
