{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles:</h1>
    {% for article in articles %}
        <div>
            <h2><a href={{ path('app_article_showarticle', {'id': article.id}) }}>{{ article.title }}</a></h2>
            <section>{{ article.insertDate|ago }}</section>
            <section>{{ article.article }}</section>
        </div>
    {% endfor %}
{% endblock %}