{% extends 'base.html.twig' %}

{% block title %}Hello LoginFormController!{% endblock %}

{% block body %}
<form>
    <div>
        <label for="_username">Uživatelské jméno:</label>
        <input type="text" name="_username">
    </div>
    <div>
        <label for="_password">Heslo:</label>
        <input type="password" name="_password">
    </div>
    <div>
        <label for="_remember_me">Pamatuj si mě </label>
        <input type="checkbox" name="_remember_me">
    </div>
    <div>
        <input type="submit" value="Přihlásit se">
    </div>
</form>
{% endblock %}
