{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ article.title }}</h1>
    {% if is_granted("IS_AUTHENTICATED_FULLY")%}
    <a href="{{ path('app_article_editexistingarticle', {'id': article.id}) }}">Upravit</a>
    {% endif %}
    <div>{{ article.insertDate|ago }}</div>
    <section>{{ article.article }}</section>
{% endblock %}