{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('app_article_savearticle') }}" method="post">
        <input type="hidden" name="id" value={{ article.id }}>
        <div>
            <label for="title">Nadpis:</label>
            <input type="text" name="title" value={{ article.title }}>
        </div>
        <div>
            <label for="article">Obsah:</label>
            <textarea name="article">{{ article.article }}</textarea>
        </div>
        <input type="submit" value="Uložit">
    </form>
{% endblock %}